body {
    margin: 0 auto;
    scroll-behavior: smooth;/* ! */
}

.header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0px 0px 42px 0px; */
}

.header__wrapper {
    max-width: 1200px;
    display:flex;
    justify-content: space-between;
    padding: 30px 40px 30px 40px;
}

.header__logo {
    max-width: 188px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 533px;
    align-content: space-between;
    row-gap: 10px;
}

.header__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */
    display: flex;
    /* align-items: center; */
    letter-spacing: 0.06em;
    /* color-primary */
    color: rgba(84, 84, 84, 1);
    /* padding-bottom: 10px; */
}

.header__title a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.header__subtitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
    /* or 35px */
    display: flex;
    /* align-items: center; */
    letter-spacing: 0.09em;
    /* color-primary */
    color: rgba(84, 84, 84, 1);
}

.menu-list li {
    display: inline;
    transition: 0.5s;
    color: rgba(84, 84, 84, 1);
}

.menu__item:hover {
    color: black;

}

.menu__item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    margin-right: 30px;
    cursor: pointer;
}

.menu__item:last-child {
    margin-right: 0px;
}

.nav-link {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

/* our friends! */

.Our_Friends {
    /* border: 1px dotted white; */
    display: flex;
    background-color: rgba(246, 246, 246, 1);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Our_Friends__title {
    max-width: 400px;
    text-align: center;
    /* margin: 0px 0px 45px 0px; */
}

.Our_Friends__title-description {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    color: rgba(84, 84, 84, 1);

}

.Our_Friends__wrapper {
    max-width: 1200px;
    margin: 44px 0px 17px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    order: 1;
}

.Our_Friends__container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
    margin: 0px 0px 45px 0px;
}

.pets__card {
    width: 270px;
    height: 435px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(250, 250, 250, 1);
}

.pets__logo {
    cursor: pointer;
    transition: 0.5s;
}

.pets__logo:hover {
    transform:scale(1.2);
}

.card__katrine,
.card__jennifer,
.card__woody,
.card__sophia {
    padding: 11px 0px 0px 0px;
}

.card__timmy,
.card__charly,
.card__scarlett,
.card__freddie {
    padding: 17px 0px 15px 0px;
}

.pets__name {
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-align: center;
}

.pets__button {
    width: 187px;
    height: 52px;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: 0.5s;
    cursor: pointer;
    opacity: 1;
    border: 2px solid rgba(241, 205, 179, 1);
    background-color: rgba(250, 250, 250, 1);
}

.pets__button:hover {
    background-color: rgba(241, 205, 179, 1);
    color:rgba(84, 84, 84, 1);
}

.pets__button:active {
    opacity: 0.7;
}

.Our_Friends__pagination {
    display: flex;
    order: 2;
    width: 340px;
    height: 52px;
    margin: 0px 0px 100px 0px;
}

.arrow__left_double {
    border-radius: 100px;
    cursor: pointer;
    opacity: 1;
    border: 2px solid rgba(205, 205, 205, 1);
    padding: 11px;
    margin-right: 23px;
}
.arrow__left {
    border-radius: 100px;
    cursor: pointer;
    opacity: 1;
    border: 2px solid rgba(205, 205, 205, 1);
    padding: 18px;
    margin-right: 21px;
}

.arrow__right {
    border-radius: 100px;
    cursor: pointer;
    opacity: 1;
    border: 2px solid rgba(241, 205, 179, 1);
    background-color:   rgba(241, 205, 179, 1);
    padding: 17px;
    margin-right: 21px;

}

.arrow__right_double {
    border-radius: 100px;
    cursor: pointer;
    opacity: 1;
    border: 2px solid rgba(241, 205, 179, 1);
    background-color:   rgba(241, 205, 179, 1);
    padding: 11px;
}

.page__pagination {
    border-radius: 100px;
    cursor: pointer;
    opacity: 1;
    border: 2px solid rgba(241, 205, 179, 1);
    background-color:   rgba(241, 205, 179, 1);
    padding: 19px;
    margin-right: 25px;
}


/* footer */
.footer {
    display: flex;
    justify-content: center;
    background-image: url(..//assets/img/gradient.png);
    background-size: cover;
}

.footer__wrapper {
    max-width: 1200px;
    display: flex;
    padding: 41px 40px 0px 40px;
    display: grid;
    grid-template-columns: 358px 378px 299px;
    column-gap: 82px;

}

.footer__contacts {
    max-width: 282px;
}

.footer__location {
    max-width: 302px;
}

.footer__contacts-title {
    color: white;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    margin: 15px 0px 39px 0px;
}

.footer__contacts-mail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 19px;
    margin: 0px 0px 40px 0px;
}

.footer__contacts-phone {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 0px 41px 0px;
    column-gap: 19px;
}

.footer__location-title {
    color: white;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    margin: 16px 0px 10px 0px;
}

.mail__description {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: rgba(241, 205, 179, 1);
}

.phone__description {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: rgba(241, 205, 179, 1);
}

.boston__description {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: rgba(241, 205, 179, 1);
}

.footer__location-Boston {
    display: flex;
    max-width: 302px;
    column-gap: 19px;
}

.london__description {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: rgba(241, 205, 179, 1);
}

.footer__location-London {
    display: flex;
    justify-content: flex-start;
    column-gap: 22px;
}


/* media */

@media (max-width: 769px) {
    .header__wrapper {
        max-width: 708px;
        padding: 30px 30px 30px 30px;
        justify-content: space-between;
        column-gap: 74px;
    }

    .header__logo {
        margin-right: 0px;
        justify-content: flex-start;
    }

    .menu-list {
        padding: 0;
    }

    .menu__item {
        margin-right: 30px;
    }

    /* our_friends */

    .Our_Friends__wrapper {
        max-width: 708px;
    }

    .Our_Friends__title-description {
        margin: 35px 0px 0px 0px;
    }

    .card__katrine,
    .card__jennifer,
    .card__woody,
    .card__sophia {
    padding: 18px 0px 0px 0px;
    }

    .card__timmy,
    .card__charly,
    .card__scarlett,
    .card__freddie {
    padding: 20px 0px 15px 0px;

    }

    .card__scarlett,
    .card__freddie {
        display: none;
    }

    .Our_Friends__container {
        margin: 0px 0px 22px 0px;
    }

    .Our_Friends__pagination {
        margin: 0px 0px 76px 0px;
    }

    /* footer */

    .footer__wrapper {
        max-width: 708px;
        padding: 30px 30px 0px 30px;
    }














}